:root {
  --primary-color: #2563eb;
  --text-color: #1e293b;
  --bg-color: #f8fafc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  displey: flex;
  justify-content: center;
  gap: 40px;
}

h1 {
  color: var(--primary-color);
}
